:host {
  height: 100%;

  mat-sidenav-container {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;

    mat-sidenav {
      display: flex;
      flex-direction: column;
      height: 100%;
      min-width: 300px;
      max-width: 300px;
      overflow-y: hidden;
      background: white;
      padding: 0 6px 0 18px;
    }

    mat-sidenav-content {
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      justify-content: flex-start;
      height: 100%;
      overflow-y: hidden;
      background: white;

      .table-container {
        width: 100vw;
      }

      .mat-table {
        display: block;
        width: 100%;
        overflow-x: auto;
      }
    }
  }
}

@for $index from 0 through 200 {
  $size: $index * 2;

  .table-column-#{$size} {
    // flex: 0 1 #{$size}#{"px"};
    min-width: #{$size}#{"px"};
  }
}

.col-lg-3 {
  button:not([color]) {
    background-image: linear-gradient(to right, #f5af19, #f12711);
    font-family: 'Times New Roman', Times, serif;
  }
}

h2 {
  & {
    text: {
      decoration: underline;
    };
    font: {
      family: 'Oswald', sans-serif;
    };
  }
}
